<p>
  chart works!
</p>
<span>Grafiek</span>
<div style="display: block; width: 100%;">
  <canvas baseChart width="400px" height="400px"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<input type="button" (click)="clickButton()" value="Edit">

