<div style="display: block; width: 100%;">
  <canvas baseChart width="400px" height="400px"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType">
  </canvas>
</div>

<input type="text" [(ngModel)]="beginTime" title="Begin tijd"/>
<input type="text" [(ngModel)]="endTime" title="Eind tijd"/>
<input type="button" (click)="byHoursInterval()" value="Show">

