.wrapper {
  width: 80%;
  text-align: center;
}

.data {
  vertical-align: top;
  text-align: center;
}

.label {
  text-align: left;
}

.value {
  text-align: right;
}

.unit {
  font-weight: bold;
  text-align: left;
}

.euro {
  font-weight: bold;
  text-align: right;
}
