<md-sidenav-container>
  <md-sidenav #sidenav [mode]="sidenavMode" class="app-sidenav" [opened]="sidenavOpened" >
    <md-toolbar color="primary">
      <span>Sidenav Title</span>
    </md-toolbar>
    <md-nav-list>
      <md-list-item>
        <md-icon>home</md-icon>
        <span>Home</span>
      </md-list-item>
      <md-list-item>
        <md-icon>show_chart</md-icon>
        <span>Chart</span>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="onClick($event, sidenav)">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    {{title}}

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    Content
  </div>
</md-sidenav-container>

