
<app-login [hidden]="authService.isAuthenticated()"></app-login>

<div class="app-container" [hidden]="!authService.isAuthenticated()">
  <md-sidenav-container>
    <md-sidenav #sidenav [mode]="sidenavMode" class="app-sidenav" [opened]="sidenavOpened">
      <md-toolbar color="primary">
        <span>Menu</span>
      </md-toolbar>
      <md-nav-list>
        <md-list-item routerLink="/dashboard" (click)="onClick($event, sidenav)">
          <md-icon>home</md-icon>
          <span>Dashboard</span>
        </md-list-item>
        <md-list-item routerLink="/trend" (click)="onClick($event, sidenav)">
          <md-icon>show_chart</md-icon>
          <span>Trend</span>
        </md-list-item>
      </md-nav-list>

    </md-sidenav>

    <md-toolbar color="primary">
      <button class="app-icon-button" (click)="onClick($event, sidenav)">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>

      {{title}}

      <span class="app-toolbar-filler"></span>
    </md-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
